.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %p.chat-main__group-info__left-box__carrent-group
        = @group.name
      %p.chat-main__group-info__left-box__member-list
        Member:
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__right-box
      .chat-main__header__box-edit
        = link_to 'edit' do
          = "Edit"
  
  .chat-main__message-list
    .chat-main__message-list__Userid
      .chat-main__message-list__Userid__User-talk
        %p.chat-main__message-list__Userid__User-talk__talker
          suke
        %p.chat-main__message-list__Userid__User-talk__talk-date
          2020/06/06
      .chat-main__message-list__Userid__User-Chat
        %p.side-bar__hooter__box__User-chat
          おはよう

    .chat-main__message-list__Userid
      .chat-main__message-list__Userid__User-talk
        %p.chat-main__message-list__Userid__User-talk__talker
          suke
        %p.chat-main__message-list__Userid__User-talk__talk-date
          2020/06/05
      .chat-main__message-list__Userid__User-Chat
        %p.side-bar__hooter__box__User-chat
          今日は快晴

  .MessageField
  = render @messages
  
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'input-box__image__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'