.side-bar
  .side-bar__header
    .side-bar__header__box
      %p.side-bar__header__box__User-name
        = current_user.name
      %ul.side-bar__header__box__Main-menu
        %li.side-bar__header__box__Main-edit
          =link_to new_group_path do
            = icon('far', 'edit')
        %li.side-bar__header__box__Main-cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group__box
        = link_to '＃' do
          %p.side-bar__group__box__group-name
            = group.name
          %p.side-bar__group__box__group-message
            メッセージはまだ有りません
